# Ignore Google Drive and temporary drive upload files
.tmp.driveupload/
gdrive*
Projects/Gamified Education/EduQuest/
# Ignore executables
*.exe

# Ignore object files
*.o

# Ignore build directories
/build/

# Ignore Python cache artifacts
__pycache__/
*.py[cod]